{% extends 'core/base.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
    <style>
        h1 {
            font-size: 3em;
        }
        p {
            font-size: 1.5em;
        }
    </style>

    <h1>About Us</h1>
    <p>Welcome to Puddleshop. We are a online market based in Taiwan. Our company was founded in 2024 with the aim of providing good service.
        At Puddleshop, we are committed to best one. We strive to provide our customers with good quality service that meet their needs and exceed their expectations. Our team of professionals is dedicated to delivering high-quality devices in a timely and efficient manner.
        Our company is built on a foundation of integrity, honesty, and transparency. We believe in building long-term relationships with our customers and partners based on trust and mutual respect. We are committed to providing excellent customer service and support to ensure that our customers have a positive experience with Puddleshop.
        We are constantly working to improve our Puddleshop and stay up-to-date with the latest industry trends and technologies. We are committed to innovation and are always looking for new ways to improve our Puddleshop and provide added value to our customers.
        Thank you for choosing Puddleshop. We look forward to serving you and meeting all of your Services or needs. If you have any questions or concerns, please do not hesitate to contact us.
        </p>
{% endblock %}