{% extends 'core/base.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
<style>
    h1 {
        font-size: 3em;
    }
    p {
        font-size: 1.5em;
    }
</style>

<h1>Privacy Policy:</h1><br>
<p>Our company respects your privacy. This Privacy Policy explains how we collect, use, and protect your personal information. The information we collect through the services provided on this website is used solely for the purpose of providing and improving our services. We do not sell, share, or otherwise disclose your personal information to third parties unless otherwise stated in this Privacy Policy.

    Information We Collect
    
    When you register an account on our website, subscribe to newsletters, respond to surveys, or fill out forms, we may collect your name, email address, phone number, mailing address, credit card information, or other information. We may also collect information about your visits and usage of this website through the use of cookies and similar tracking technologies.
    
    How We Use Your Information
    
    We use your personal information to provide and improve our services. We may use your email address to send you notifications about our services. We may also use your information to contact you to resolve issues, collect feedback, or provide other support.
    
    How We Protect Your Information
    
    We have implemented a range of security measures to protect your personal information from unauthorized access, use, or disclosure. However, due to the nature of the internet, we cannot guarantee the absolute security of your information.
    
    Our Cookie Policy
    
    We use cookies and similar tracking technologies to track your activities on this website and store your preferences. You can refuse all cookies or be prompted to accept cookies when sending cookies through your browser settings. Please note that if you choose to refuse cookies, you may not be able to use certain features of this website.
    
    Changes to Our Privacy Policy
    
    We may update our Privacy Policy from time to time. We will post any updated Privacy Policy on this page and notify you by email. We recommend that you check this page regularly for updates to our Privacy Policy.
    
    How to Contact Us
    
    If you have any questions or concerns, please contact us: ac1246897@gmail.com.</p>

{% endblock %}
