{% extends 'core/base.html' %}

{% block title %}Items{% endblock %}

{% block content %}
    <div class="pb-6 grid grid-cols-5 gap-4 bg-gray-100">
        <div class="col-span-1" style="margin-left: 25px;">
            <form method="get" action="{% url 'item:items' %}">
                <input name="query" class="w-2/3 text-lg py-4 px-6 border rounded-xl" type="text" value="{{ query }}" placeholder="Find a bike, a chair or car..."><br>
                <button class="mt-2 py-4 px-8 text-2xl bg-teal-500 text-white rounded-xl">Search</button>
            </form>

            <hr class="my-6">

            <p class="font-semibold">Categories</p>

            <ul>
                {% for category in categories %}
                    <li class="py-2 px-2 rounded-xl{% if category.id == category_id %} bg-gray-200{% endif %}">
                        <a href="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <hr class="my-6">

            <p class="font-semibold">Clear filters</p>
            <a href="{% url 'item:items' %}" class="mt-2 py-4 px-8 text-2xl inline-block bg-yellow-500 rounded-xl text-white">Clear</a>
        </div>

        <div class="col-span-4">
            <div class="grid grid-cols-4 gap-3">
                {% for item in items %}
                    <div>
                        <a href="{% url 'item:detail' item.id %}">
                            <div>
                                <img src="{{ item.image.url }}" class="rounded-t-xl">
                            </div>
                            <hr class="my-hr">
                            <div class="p-6 bg-white rounded-b-xl text-center">
                                <h2 class="text-4xl">{{ item.name }}</h2>
                                <p class="mt-1 text-2xl text-gray-500">Price: {{ item.price }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}