{% extends 'core/base.html' %}

{% block title %}Category:{{ category }}{% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-6xl text-center">Same Category:{{ category }}</h2>

        <div class="grid grid-cols-4 gap-3">
            {% for item in items %}
                <div>
                    <a href="{% url 'item:detail' item.id %}">
                        <div>
                            <img src="{{ item.image.url }}" class="rounded-t-xl">
                        </div>
                        
                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-3xl text-center">{{ item.name }}</h2>
                            <p class="text-gray-500 text-2xl text-center">Price: {{ item.price }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div><br><br>
    <center><a href="/" class="px-4 py-4 text-3xl rounded-xl bg-teal-500 text-white hover:text-teal-700 text-color-red text-center font-semibold">Home</a></center>
                               {% comment %} px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700 {% endcomment %}

{% endblock %}